<div>
    <rzslider rz-slider-options="main.optionsRz" rz-slider-model="main.limit"></rzslider>
</div>
<h3 class="alert alert-success">{{ main.title | limitTo : 10 }}</h3>
</p>Nb de caractères : {{ main.nbCar }}</p>
<p>{{ main.subtitle }}</p>


<input ng-disabled="main.title == 'OFF'" placeholder="nom de personne" type="text" ng-blur="main.majuscule()" ng-model="main.title">
<div ng-if="main.title == 'Julien'">
    <p>C'est moi comment je m'appelle</p>
</div>
<div ng-class='{" alert alert-danger " : main.title == "Wesh Alors",
                        " alert alert-success" :  main.title != "Wesh Alors", }'>
    <p>J'adore JUL</p>
</div>

<button type="button" ng-click="main.reset()">Reset</button>


<ul>
    <li ng-repeat="personnage in main.tableau | filter: main.title | limit: main.limit  | orderBy: prenom ">
        <a ui-sref="detail({id: personnage.id})">{{ personnage.pseudo }}</a>
        <p>{{ personnage.resume|limitTo: 200 }}</p>
        <p class="label label-success"> {{ personnage.note }} / 5</p>
        <a class="btn btn-success btn-xs" ng-click="main.remove(personnage)">X</a>
    </li>
</ul>

<form ng-submit="main.add()" name="formAdd" novalidate>
    <input required name="pseudo" type="text" ng-model="main.objAdd.pseudo" placeholder="pseudo" required class="form-control">
    <div ng-show="formAdd.$submitted || formAdd.pseudo.$touched">
        <div ng-show="formAdd.pseudo.$error.required">Pseudo est requis</div>
    </div>

    <input required pattern="^[0-9]{1}$" type="number" name="note" ng-model="main.objAdd.note" class="form-control" placeholder="note"
        min="1" max="5">

    <div ng-show="formAdd.$submitted || formAdd.note.$touched">
        <div ng-show="formAdd.note.$error.pattern">Pattern note</div>
    </div>
    <textarea required placeholder="resume" ng-model="main.objAdd.resume" name="resume" class="form-control"></textarea>

    <button ng-disabled="formAdd.$invalid" class="btn btn-success" type="submit">Enregistrer ce personnage</button>
</form>